// Variables
$website-width: 1280px;
$main-color: #2f4b1f;
$light-color: #f4f4f4;
$medium-color: #ccc;
$brown-color: #31220c;
$special-color: rgba(70, 70, 70, 0.9);
$dark-color: #333;
$ease-in-out: cubic-bezier(0.49, 0.01, 0.48, 0.98);
$ease-out: cubic-bezier(0, 0.01, 0.5, 1.04);
$ease: cubic-bezier(0.1, 0.06, 0.37, 1.01);
$py-3: 3rem 0;

// Set Text Color Function
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
